<p>"Task: EP robot is starting at a random initial position in a fixed competition field, to find five target points generating by a random way in the field.The robot need to complete activation in a fixed order."</p>

<p>"Target: EP robot completes the finding and activation of five target points at the fastest and safest speed"</p>

<p>"The position of the target point: 1) The position of the target point will be randomly placed and will remain unchanged during an experiment; 2)If the shot hits the armor plate on the target point more than 4 times, the target point is considered to be activated. 3）The target point cannot be activated if it is not in the specified order. 4) The location data of the target point will be got by using UWB label."</p>

<p>"The initial state of EP robot: 1) The initial position of the EP robot is random; 2)The total amount of bullets that can be fired is 30; 3)The maximum speed of the robot is 3m/s."</p>

<p>"There are two tracks: track 1) The states that EP robot can obtain include own location of the map、own speed、the image of the current moment and the location of the target point(but don't know corresponding order, robot must detect visual label.).The algorithm should output the speed control command of EP robot. track 1) The states that EP robot can obtain include the image of current moment and speed(There are visual labels helping the EP robot get the information of location).The algorithm should output the speed control command of EP robot."</p>

